{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
<meta charset=utf-8">
<title>RedWerk</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.cycle2.min.js' %}"></script>
</head>

<body>
	<header>
		<div id="mini-menu-button">
			<img src="{% static 'imgs/menu.jpg' %}" width="50">
		</div>
		<div id="mini-logo">
			<img src="{% static 'imgs/header/logo.png' %}">
		</div>
		<div id="mini-wrap">
			<div id="mini-menu">
				<ul>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">SERVICES</a></li>
					<li><a href="#">CASE STUDIES</a></li>
					<li><a href="#">TESTIMONIALS</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
			<form id="mini-search">
				<input type="submit" value="" id="mini-find">
				<input type="search" name="search" id="mini-search_field">
			</form>
			<div id="mini-request">
				<a href="#">REQUEST QUOTE</a>
			</div>
		</div>
		<div id="wrap">
			<div id="logo">
				<img src="{% static 'imgs/header/logo.png' %}">
			</div>
			<div id="request">
				<a href="#">REQUEST QUOTE</a>
			</div>
			<form id="search">
				<input type="search" name="search" id="search_field">
				<input type="submit" value="" id="find">
			</form>
			<div id="menu">
				<ul>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">SERVICES</a></li>
					<li><a href="#">CASE STUDIES</a></li>
					<li><a href="#">TESTIMONIALS</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</header>
<!-- Pop up window's background -->
	<div id="hover"></div>
<!-- Slider -->
	<section>
		<div id="slider" class="cycle-slideshow">
			<span class="cycle-pager"></span>
			<p id="offer">{{ offer.title }}</p>
			<p id="txt">{{ offer.content }}</p>
			<a href="#" id="btn_about_us">ABOUT US</a>
			<img src="{% static 'imgs/slider/slider_layer1.png' %}">
			<img src="{% static 'imgs/slider/deal1.jpg' %}">
			<img src="{% static 'imgs/slider/plan1.jpg' %}">
		</div>
	</section>
<!-- threy of images -->
	<div id="threy_imgs">
		<h2><span>WE ARE</span> CUSTOM SOFTWARE DEVELOPMENT COMPANY</h2>
        {% for i in we_are %}
		<div class="threy">
			<img src="{% static 'imgs/threy/two_img.png' %}">
			<h3>{{ i.title }}</h3>
			<p>{{ i.content }}</p>
		</div>
        {% endfor %}
		<!--
		<div class="threy">
			<img src="{% static 'imgs/threy/three_img.png' %}">
			<h3>PROJECT-BASED</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="threy">
			<img src="{% static 'imgs/threy/one_img.png' %}">
			<h3>DEDICATED TEAMS</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		-->
	</div>
<!-- our case studies -->
	<div id="case">
		<h2>{{ case.title }}</h2>
		<p>{{ case.content }}</p>
		<a href="#" id="btn_view_all">VIEW ALL</a>
		<a href="#" id="btn_contact_us">CONTACT US</a>
	</div>
<!-- second slider -->
	<section id="second_slider">
		<div class="cycle-slideshow">
			<span class="cycle-prev"><img src="{% static 'imgs/slider/left.png' %}" width="50"></span>
			<span class="cycle-next"><img src="{% static 'imgs/slider/right.png' %}" width="50"></span>
			<span class="cycle-pager"></span>
			<video width="350" controls poster="{% static 'imgs/slider/sr.jpg' %}">
			  <source src="{% static 'movies/MartinGarrix&Tiesto-TheOnlyWayIsUp.mp4' %}" type="video/mp4">
			</video>
			<section id="youtown">
				<h2>YOUTOWN</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</section>
			<img src="{% static 'imgs/slider/screen.png' %}">
			<img src="{% static 'imgs/slider/ebay.png' %}">
			<img src="{% static 'imgs/slider/host.jpg' %}">
		</div>
	</section>
<!-- our blog -->
	<div id="blog">
		<section>
			<h2>{{ blog.title }}</h2>
			<p>{{ blog.content }}</p>
			<a href="#" id="btn_read_more">READ MORE</a>
		</section>
			<img src="{% static 'imgs/our_blog.png' %}">
	</div>
<!-- logos -->
	<div id="logos">
		<img src="{% static 'imgs/logos/slack.png' %}" >
		<img src="{% static 'imgs/logos/atari.png' %}" >
		<img src="{% static 'imgs/logos/google.png' %}" >
		<img src="{% static 'imgs/logos/facebook.png' %}" >
		<img src="{% static 'imgs/logos/spotify.png' %}" >
		<img src="{% static 'imgs/logos/nike.png' %}" >
	</div>
<!-- wait -->
	<section id="wait">
		<section>
			<p>What are you waiting for?</p>
			<a href="#">CONTACT US</a>
		</section>
	</section>
<!-- form -->
	<div id="form">
		<h1>GET IN TOUCH WITH OUR TEAM</h1>
		<section id="send">
			<div id="email">
				<label>EMAIL</label><br>
				<input type="text" name="email" id="email">
			</div>
			<div id="budget">
				<label>BUDGET</label><br>
				<select>
					<option>$500 - $1000</option>
					<option>$1000 - $1500</option>
					<option>$1500 - $2000</option>
				</select><br>
			</div><br>
			<label id="message">MESSAGE</label><br>
			<textarea>Hello, Lorem ipsum dolor sit amet,  incididunt ut labore Lorem ipsum dolor sit amet et dolore magna aliqua.</textarea><br>
			<input type="checkbox" name="agree"><span class="cb_r"> I agree to the terms of use and privacy policy.</span>
			<img src="{% static 'imgs/lock.png' %}"><span class="cb_r" style="color: #21991f;">Your privacy is protected</span><br>
			<input type="checkbox" name="want" checked><span class="cb_r"> I want that you callback as soon as possible</span><br>
			<span class="cb_r">Want to subscribe our news?</span>
			<input type="radio" name="yes" value="yes" checked><span class="cb_r">Yes</span>
			<input type="radio" name="no"  value="no"><span class="cb_r">No</span><br>
			<input type="submit" value="SEND" id="submit">
		</section>
	</div>
<!-- Pop up window -->
	<div id="popup">
	    <div id="form">
			<a href="#" id="exit"><img src="{% static 'imgs/exit.png' %}"></a>
			<h1>GET IN TOUCH WITH OUR TEAM</h1>
			<section id="send">
				<div id="email">
					<label>EMAIL</label><br>
					<input type="text" name="email" id="email">
				</div>
				<div id="budget">
					<label>BUDGET</label><br>
					<select>
						<option>$500 - $1000</option>
						<option>$1000 - $1500</option>
						<option>$1500 - $2000</option>
					</select><br>
				</div><br>
				<label id="message">MESSAGE</label><br>
				<textarea>Hello, Lorem ipsum dolor sit amet,  incididunt ut labore Lorem ipsum dolor sit amet et dolore magna aliqua.</textarea><br>
				<input type="checkbox" name="agree"><span class="cb_r"> I agree to the terms of use and privacy policy.</span>
				<img src="{% static 'imgs/lock.png' %}"><span class="cb_r" style="color: #21991f;">Your privacy is protected</span><br>
				<input type="checkbox" name="want" checked><span class="cb_r"> I want that you callback as soon as possible</span><br>
				<span class="cb_r">Want to subscribe our news?</span>
				<input type="radio" name="yes" value="yes" checked><span class="cb_r">Yes</span>
				<input type="radio" name="no"  value="no"><span class="cb_r">No</span><br>
				<input type="submit" value="SEND" id="submit">
			</section>
		</div>
	</div>
<!-- footer -->
	<footer>
		<section>
			<div id="foot1">
				<img src="{% static 'imgs/logo.png' %}">
				<p>&copy; 2016 Redwerk. All rights reserved.</p>
			</div>
			<div id="foot2">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Case Studies</a></li>
				</ul>
			</div>
			<div id="foot3">
				<ul>
					<li><a href="#">Testimonials</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</div>
			<div id="foot4">
				<p id="join">JOIN OUR NEWSLETTER</p>
				<p>Join up and get notified about new products, updates and special offers</p>
				<form id="enter_e_mail">
					<input type="text" name="e_mail" id="e_mail">
					<input type="submit" value="" id="submit_e_mail">
				</form>
			</div>
		</section>
	</footer>
</body>
</html>
