body {font-family: "Verdana", Sans-serif;}

/******* header styling *******/
header {
	width: 100%;
	display: block;
	background: #fff;
	height: 100px;
}

#mini-wrap{display: none;}
#mini-logo{display: none;}
#mini-menu-button {display: none;}


#wrap {
	width: 95%;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	margin-top: 15px;
}

#menu {
	float: right;
	margin-top: 40px;
}
#menu ul {
	padding: 0;
}
#menu ul li {
	display: inline-block;
	margin-left: 35px;
}
#menu ul li:first-child {
	margin-left: 0px;
}
#menu ul li a {
	display: inline-block;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #393c40;
}

#search {
	float: right;
	margin-left: 75px;
	margin-top: 40px;
}

#request {
	float: right;
	line-height: 100px;
	margin-left: 30px;
}
#request a {
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #dd3331;
	border: 1px solid #dd3331;
	padding: 15px 20px;
	outline: none;
}
#request a:hover {
	color: #fff;
	background: #dd3331;
	outline: none;
}

#search_field {
	display: none;
	height: 25px;
	width: 120px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: #eee;
}
#find {
	background: url(../imgs/header/loop.png) no-repeat;
	padding: 3px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

/******* slider styling *******/
#slider {
	max-width: 100%;
}

#slider  img {
	max-width: 100%;
}

.cycle-slideshow {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
}

.cycle-pager {
	width: 5%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 45%;
	left: 95%;
	z-index: 999;
	cursor: pointer;
}

.cycle-pager span {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 20% 0;
	overflow: hidden;
}

.cycle-pager .cycle-pager-active {background: #fff;}

#offer {
	display: block;
	position: absolute;
	left: 45%;
	bottom: 62%;
	z-index: 999;
	color: #fff;
	font-size: 200%;
	font-weight: bold;
}

#txt {
	display: block;
	width: 66%;
	position: absolute;
	left: 20%;
	bottom: 48%;
	z-index: 999;
	color: #fff;
	font-size: 150%;
}

#btn_about_us {
	display: block;
	position: absolute;
	left: 42%;
	bottom: 30%;
	z-index: 999;
	color: #fff;
	padding: 1% 4%;
	background: #dd3331;
	border: 1px solid transparent;	
	text-decoration: none;
	font-size: 100%;
}

#btn_about_us:hover {
	border: 1px solid #dd3331;
	background: none;
}

/******* threy of images styling *******/
#threy_imgs {
	max-width: 81%;
	margin: 0 auto; 
	margin-top: 7%;
}

#threy_imgs h2{
	color: #dd3331;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 4%;
	font-weight: bold;
}
#threy_imgs h2 span{
	color: #000;
}

.threy {
	width: 30%;
	float: left;
	margin: 0 1.5%;
	margin-bottom: 5%;
}

.threy img{
	max-width: 100%;
}

.threy h3 {
	width: 80%;
	margin: 10px auto;
}

.threy p {
	width: 80%;
	margin: 0 auto;
	color: #797979;
}

/******* our case studies *******/
#case {
	width: 100%;
	height: 300px;
	clear: both;
	background: #2b2b2b;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 100%;
}

#case h2 {padding: 3% 0 0;}

#case p {
	width: 60%;
	margin: 3% auto 5%;
	color: #949494;
}

#btn_view_all {
	border: 1px solid transparent;
	color: #fff;
	padding: 1% 4%;
	background: #dd3331; 
	text-decoration: none;
}
#btn_view_all:hover {
	border: 1px solid #dd3331;
	background: none;
}

#btn_contact_us {
	color: #949494;
	padding: 1% 4%;
	text-decoration: none;
	border: 1px solid #949494;
}
#btn_contact_us:hover {
	background: #949494;
	color: #fff;
}

/******* second slider *******/
#second_slider {
	width: 75%;
	margin: 5% auto;
}

#second_slider  .cycle-slideshow {
	width: 100%;
	display: block;
	position: relative;
	left: 7%;
}

#second_slider .cycle-slideshow img {
	max-width: 40%;
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
	margin-left: 4%;
}

#second_slider video {
	display: block;
	position: absolute;
	bottom: 43%;
	right: 12%;
	width: 40%;
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

#second_slider #youtown {
	display: block;
	position: absolute;
	bottom: 10%;
	right: 12%;
	width: 40%;
	font-size: 100%
}
#second_slider #youtown h2{
	margin-bottom: 3%;
}
#second_slider #youtown p {
	color: #797979;
}

.cycle-prev, .cycle-next {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 999;
	cursor: pointer;
}
.cycle-prev {left: -5%;}
.cycle-next {right: 0%;}

#second_slider .cycle-pager {
	width: 15%;
	display: block;
	position: absolute;
	bottom: -6%;
	left: 40%;
	z-index: 999;
	cursor: pointer;
}

#second_slider .cycle-pager span {
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	width: 9px;
	height: 9px;
	border: 1px solid #dd3331;
	border-radius: 50%;
	margin: 0 5%;
	overflow: hidden;
}

#second_slider .cycle-pager .cycle-pager-active {background: #dd3331;}

/******* our blog *******/
#blog {
	max-width: 100%;
	margin: 6% auto;
	padding: 5% 10%;
	background: #f0f0f0;
}

#blog section {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-top: 10%;
	margin-right: 19%;
}

#blog h2 {
	color: #2c2e37;
}

#blog p {
	margin: 5% auto;
	color: #a6a6a6;
}

#blog #btn_read_more {
	border: 1px solid transparent;
	color: #fff;
	padding: 2% 4%;
	background: #dd3331; 
	text-decoration: none;
}
#blog #btn_read_more:hover {
	border: 1px solid #dd3331;
	background: none;
	color: #dd3331;
}

#blog img {
	max-width: 50%;
	display: inline-block;
}

/******* logos *******/
#logos {
	max-width: 80%;
	margin: 0 auto 6%;
}

#logos img {
	display: inline-block;
	max-width: 10%;
	margin: 0 3%;
}

/******* wait *******/
#wait {
	max-width: 100%;
	background: #dd3331;
	color: #fff;
	padding: 3% 10%;
}

#wait section {
	max-width: 40%;
	margin: 0 auto;
}

#wait p {
	display: inline-block;
	margin-right: 10%;
}

#wait a {
	display: inline-block;
	border: 1px solid #fff;
	padding: 2% 4%;
	background: #dd3331; 
	text-decoration: none;
	color: #fff;
}
#wait a:hover {
	border: 1px solid #dd3331;
	background: #fff;
	color: #dd3331;
}

/******* form *******/
#form {
	max-width: 100%;
	margin: 5% auto;
}
#form h1 {
	width: 170px;
	margin: 0 auto;
	text-align: center;
	color: #2c2e37;
}
#form #send{
	width: 600px;
	margin: 0 auto;
}

#email, #budget {
	display: inline-block;
	margin: 20px 0;
}

#email input, #budget select{
	width: 285px;
	height: 35px;
	margin: 8px 0;
	padding: 5px 10px;
	border: 1px solid #dedede;
	color: #cacaca;
}

textarea {
	width: 575px;
	height: 138px;
	padding: 5px 10px;
	border: 1px solid #dedede;
	color: #cacaca;
	margin: 10px 0 20px;
	font-family: "Verdana", Sans-serif;
}

#send img {
	display: inline-block;
	clear: both;
	margin-left: 50px;
	margin-right: 10px;
}

.cb_r {
	font-size: 80%;
	font-family: "Verdana", Sans-serif;
	color: #cacaca;
}

input {
	margin-bottom: 20px;
}

#submit {
	color: #fff;
	border: 1px solid #fff;
	padding: 2% 7%;
	background: #dd3331; 
	cursor: pointer;
	outline: none;
	font-weight: bold;
}
#submit:hover {
	border: 1px solid #dd3331;
	background: none;
	font-weight: bold;
	color: #dd3331;
}
/******* pop up window *******/
#popup {
	display: none;
	width: 600px;
	height: 550px;
	border: 1px solid;
	text-align: center;
	background: #fff;

	position: fixed;
	top: 20%;
	left: 40%;
	right: 40%;
	margin-left: -150px;
	margin-top: -75px;
	z-index: 999;
}

#popup #form #exit {
	margin-left: 90%;
}

#popup #form {
	margin-top: 0;
}

#hover {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.2);
	z-index: 998;
}

/******* footer *******/
footer {
	max-width: 100%;
	padding: 3% 0;
	background: #222222;
	color: #fff;
}

footer section {
	display: block;
	max-width: 80%;
	margin: 0 auto;
}
 
footer section ul li {
	list-style-type: none;
	margin: 15% auto 15%;
}
 
footer section ul li a {
	text-decoration: none;
	color: #fff;
}

#foot1, #foot2, #foot3, #foot4 {
	display: inline-block;
	width: 15%;
	font-size: 70%;
}

#foot1 p {
	margin-top: 7%;
	font-size: 75%;
}

#foot2 {
	margin-left: 9%;
}

#foot3 {
	margin-right: 9%;
}

#foot4 {
	width: 35%;
}

#join{color: #dd3331;}

#e_mail {
	display: inline-block;
	height: 25px;
	border: 2px solid #393939;
	outline: none;
	background: #222222;
	color: #fff;
	padding: 5px 10px;
}
#submit_e_mail {
	background: url(../imgs/arr_right.png) no-repeat;
	padding: 3px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}



/******* media queries *******/
@media(max-width: 1200px){
	#logo img {width: 80%;}
	#logo {
		margin-top: 25px;
	}
	#search {
		margin-left: 25px;
	}
	#request {
		margin-left: 10px;
	}
	#menu ul li {
		margin-left: 25px;
	}
}


@media(max-width: 1000px){
	#txt {font-size: 100%}
	#offer {font-size: 150%}
	#case {height: 250px;}
	#second_slider #youtown {font-size: 80%}

	#foot1, #foot4 {
		display: block;
		margin: 0 auto;
	}
	#foot2, #foot3 {
		width: 35%;
		margin: 0 7%;
	}


}
/*******************************/

@media(max-width: 960px){
	header {
		width: 100%;
		display: block;
		background: #fff;
		height: 100px;
	}


	#wrap{display: none;}



	#mini-wrap {
		width: 25%;
		display: none;
		margin: 0 auto;
	}

	#mini-logo {
		display: block;
		margin-left: 40px;
	}

	#mini-menu-button {
		display: block;
		float: right;
		margin-right: 40px;
		cursor: pointer;
	}

	#mini-menu {
		margin: 10% 0;
	}
	#mini-menu ul {
		padding: 0;
	}
	#mini-menu ul li {
		display: block;
		text-align: center;
		margin: 2% 0;
	}
	#mini-menu ul li:first-child {
		margin-left: 0px;
	}
	#mini-menu ul li a {
		display: inline-block;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		color: #393c40;
	}

	#mini-request {
		line-height: 60px;
		text-align: center;
	}
	#mini-request a {
		font-size: 10px;
		text-decoration: none;
		font-weight: bold;
		color: #dd3331;
		border: 1px solid #dd3331;
		padding: 15px 20px;
		outline: none;
	}
	#mini-request a:hover {
		color: #fff;
		background: #dd3331;
		outline: none;
	}

	#mini-search {
		display: block;
	}
	#mini-search_field {
		display: none;
		height: 25px;
		width: 110px;
		border-radius: 5px;
		border: none;
		outline: none;
		background: #eee;
	}
	#mini-find {
		background: url(../imgs/header/loop.png) no-repeat;
		padding: 3px 10px;
		border: none;
		outline: none;
		cursor: pointer;
	}
}
/****************************************/

@media(max-width: 700px){
	#txt {font-size: 70%}
	#offer {font-size: 100%}
	#btn_about_us, #case  {font-size: 80%}
	#case {height: 200px;}
	.threy {
		width: 70%;
		margin: 60px auto;
		float: none;
	}
	#case {height: 30%;}
	#second_slider video, #second_slider #youtown, #second_slider .cycle-slideshow img {
		position: relative;
		bottom: 0;
		right: 0;
		margin: 5% auto;
		max-width: 70%;
		width: 70%;
	}
	#blog section, #blog img {
		display: block;
		width: 100%;
		max-width: 70%;
		margin: 0 auto;
	}
	#blog section {margin-bottom: 5%;}
	#logos img {
		display: block;
		margin: 0 auto 3%;
		max-width: 20%;
	}
	
	#form #send{width: 485px;}
	textarea {
		width: 455px;
	}
	#email input, #budget select {
		width: 225px;
	}
	#send img {
		display: block;
		clear: none;
		margin: 0;
	}

	#popup {
		width: 400px;
		height: 550px;
		position: fixed;
		top: 20%;
		left: 40%;
		right: 40%;
	}

	#popup #form #send{width: 390px;}
	#popup textarea {
		width: 390px;
	}
	#popup #email input, #budget select {
		width: 167px;
	}

}